<html>
    <head>
        <title>
            Chat-app
        </title>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <style>
      #chart {
        height: 300px;
        width: 300px;
      }
    </style>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        <!-- <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i><a href="/">Findmyneed</a></div>
                <a href="/" class="item">Home</a>
                <a href="" class="pull-right item">Login</a>
            </div>
        </div> -->
